/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.easy-wp-modal {
	display: block;

	&__tp-modal tp-modal-close  button {
		background: transparent;
		color: white;
		font-weight: 800;
		border: none;
		padding: 0;
		cursor: pointer;
		font-size: 1rem;
	}
}
